# Unwanted files
art/*
*.DS_Store
*.clangtidy

#ImGui Config file
imgui.ini

#External project download
.external/

#Visual studio code workspace
.vscode/*

# Visual Studio 2019 cache/options directory
.vs/
CMakeSettings.json

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
build
debug_build
release_build
/bin
/lib
/install

# Qt cache
CMakeLists.txt.user
CMakeLists.txt.user.*

# IDE project files
*.sublime-project
*.sublime-workspace

# Local config windows
_configure.bat
_open-project.bat
_start-cmake-gui.bat
_start-cmd.bat

# Local config unix
.localconfig

# Wiki
wiki